# Node.js dependencies
node_modules/

# Platform-specific files
platforms/
plugins/

# Capacitor build artifacts
android/capacitor-cordova-android-plugins/
ios/App/App.xcodeproj/
ios/App/Podfile.lock
ios/App/Pods/

# Compiled files
www/build/
www/pwa/

# Cordova build artifacts
plugins/android.json
plugins/ios.json

# IDE files 
.vscode/

# Mac OS system files
.DS_Store

# Android Gradle files
*.iml
.gradle/
/build/
/captures/
.local/
/release/


bash
Copy code
git add .gitignore
git commit -m "Add .gitignore file for Ionic project"
git push origin master  # or the name of your main branch





