<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list padding *ngFor="let contact of contactsList">
    <ion-card>
      <ion-card-header>
        <ion-card-title><h2>{{ contact.name.givenName }} {{ contact.name.familyName }}</h2></ion-card-title>
        <ion-card-subtitle><p>{{ contact.phones[0]?.value || 'N/A' }}</p></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
